body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	padding: 10px;
}
.postcard-header img {
	width: 40px;
	height: 40px;
}
.postcard-header h1 {
	width: 400px;
	margin: 0%;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px gray solid;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: darkgray;
	padding: 5px 10px;
}
